[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==2.0.3"
requests = "*"
django-location-field = "*"
instagram-scraper = "*"
pylint = "*"
"flake8" = "*"
"pep8" = "*"
"autopep8" = "*"
pylint-django = "*"
pillow = "*"


[requires]

python_version = "3.6"
