{% extends "base.html" %}

{% block content %}
    
    <article class="pv4 flex flex-column flex-row-ns">
        <div class="w-100 w-60-ns ph2">
            <h1 class="f3 fw3 mt0 lh-title">About Lylesightings</h1>
            <p class="f5 lh-copy">Lyles are two-dimensional wooden smiling monsters.
                    Some are solitary, but most prefer to move in herds from 10-50, and can 
                    grow up to 8ft tall. Wherever they go they tend to make people smile 
                    and feel a bit better about the world.</p>
                    
            <p class="f5 lh-copy">I began making Lyles in 2015, initially just 
                because I found him so sympathetic. Originally conceiving of him as a 
                friend, I saw him as a Panglossian companion – (Dr. Pangloss was 
                Candide’s teacher (Voltaire), who was optimistic regardless of the 
                circumstances).</p>
                    
            <p class="f5 lh-copy">These days Lyle hasn’t changed, but the world 
                seems to be mutating at a dizzying rate. Now he serves as more than 
                a watcher, still smiling but no longer passive. Lyle is a guardian 
                of humanity – here to remind us that decency still exists, but 
                needs to be protected.</p>
            </p>
        </div>
    </article>

{% endblock %}