{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            Lyle Sightings
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/tachyons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    </head>

    <body class="avenir black-80">
        <section class="mw7 center">
                <div class="tr w-100 pt4">
                    <a class = "link pa1 black bg-animate hover-bg-light-yellow" href="/">Home</a>/<a class = "link pa1 black bg-animate hover-bg-light-yellow" href="/map/">Map</a>/<a class = "link pa1 black bg-animate hover-bg-light-yellow" href="/about">About</a>
                </div>
                <h1 class="f1 pt0 mt3 mb3 f-headline-ns">Lyle Sightings</h1>
        {% block content %}{% endblock %}

        {# Global javascript #}
        </section>
    </body>
</html>